* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
    font-family: verdana, sans-serif;
    background-color: black;
    text-align: center;
}

#title {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

a {
    color: aquamarine;
    font-size: 16px;
}

h2 {
    font-size: 42px;
    font-weight: 300;
    color: white;
}

p {
    font-size: 21px;
    color: gray;
}

video {
    display: block;
    margin: 0 auto;
}

#cpr {
    color: gray;
    text-align: left;
}